
.root {
    display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.acme {
    color: var(--Color, #FFF);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
