
.root {
    display: inline-flex;
  height: 1024px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background: var(--Color, #FFF);
}

.frame11 {
    display: flex;
  height: 223px;
  padding: 143px 1176.863px 21.863px 21px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px;
  background: #0085FF;
}


.welcomeTo {
    align-self: stretch;
  color: #000;
  font-family: Lusitana;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}


.logIn {
    color: var(--Color, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.frame16 {
    display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #0085FF;
}

.frame13 {
    display: flex;
  width: 489px;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px;
  background: #F1F1F1;
}


.heroDesktop1 {
    width: 575px;
  height: 423px;
  background: url(/442476130358292619c8016fc1f3740cbbc0fd56.png), lightgray 50% / cover no-repeat;
}

.frame14 {
    display: flex;
  padding: 182px 150px 136px 108px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.frame12 {
    display: flex;
  width: 1352px;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}
