
@import url(the-new-css-reset/css/reset.css);

.default-theme {

  /* Primitives */
  --color-gray-50: rgba(241, 241, 241, 1.0);
  --color-gray-200: rgba(211, 211, 211, 1.0);
  --color-gray-400: rgba(175, 175, 175, 1.0);
  --color-gray-600: rgba(124, 124, 124, 1.0);
  --color-gray-800: rgba(52, 52, 52, 1.0);
  --color-gray-900: rgba(32, 32, 32, 1.0);
  --color-brand-watermelon: rgba(125, 184, 169, 1.0);
  --color-brand-cherry: rgba(255, 158, 171, 1.0);
  --color-brand-pear: rgba(222, 243, 88, 1.0);
  --color-brand-mushroom: rgba(241, 211, 103, 1.0);
  --color-brand-radish: rgba(255, 203, 183, 1.0);
  --spacing-half: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --spacing-11: 88px;
  --spacing-12: 96px;
  --spacing-13: 104px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 32px;
  --radius-2xl: 128px;
  --radius-3xl: 360px;
  --color: rgba(255, 255, 255, 1.0);

  /* Tokens */
  --surface-primary: var(--color-gray-50);
  --surface-secondary: var(--color-gray-800);
  --surface-invert: var(--color-gray-900);
  --surface-brand: var(--color-brand-watermelon);
  --spacing-xs: var(--spacing-half);
  --spacing-sm: var(--spacing-1);
  --spacing-md: var(--spacing-3);
  --spacing-lg: var(--spacing-4);
  --spacing-xl: var(--spacing-6);
  --spacing-2xl: var(--spacing-13);
  --radius-minimal: var(--radius-sm);
  --radius-rounded: var(--radius-md);
  --radius-full: var(--radius-3xl);
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-600);
  --text-brand: var(--color-gray-900);
  --text-invert: var(--color-gray-50);
  --border-primary: var(--color-gray-900);
}

.drop-shadow {
  backdrop-filter: blur(4px);
  filter: blur(4)px;
  box-shadow: inset 8 4 3 2 rgba(0, 0, 0, 0.3), 0 4 4 0 rgba(0, 0, 0, 0.3);
}

.sample {
  background: rgb(241, 241, 241), rgb(0, 0, 0), rgb(125, 184, 169);
}

.heading-1 {
  font-family: Inter;
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  line-height: auto;
  text-transform: none;
}

.heading-2 {
  font-family: Inter;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  line-height: auto;
  text-transform: capitalize;
}
  
  