
.root {
    display: flex;
  width: 1440px;
  height: 1025px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background: var(--Color, #FFF);
}

.dashboard {
    align-self: stretch;
  color: #000;
  font-family: Lusitana;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.frame19 {
    display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}


.frame20 {
    height: 100px;
  flex-shrink: 0;
  align-self: stretch;
}
